body {
  margin: auto;
  max-width: 60%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: rgb(234, 244, 244);
  color: rgb(4, 5, 4);
}
.content {
  padding: 0.5%;
  margin-bottom: 5%;
  background: rgb(184, 211, 200);
  border-radius: 2%;
  color: rgb(4, 5, 4);
}
.header{
  background: rgb(184, 211, 200);
  padding: .5em;
  font-weight: bold;
  font-size: 2em;
  border-radius: .5em;
  margin-top: 2em;
  color: rgb(4, 5, 4);
}
.subheader{
  padding-top: 1em;
  font-weight: bold;
  text-align: center;
}
table {
    width: 80%;
}

.checkleft {
  text-align: left;
  margin-left: 1em;
}
h1 {
  text-align: center;
}

.home {
  text-align:left;
  padding: .5em;
  margin-left: 25em;
}

.content li{
  align-items: center;
  padding: .5em;
}

.createRecipe form{
  margin: 3em;
  padding: 3em;
}

.gridhome {
  display: grid;
  grid-template-columns: [first] 50% [line2] 50% [end];
  grid-template-rows: [row1] 5% [row2] auto [last-line];
}

.gridlogin {
  display: grid;
  grid-template-columns: [first] 35% [middle] 30% [third] 35% [end];
  grid-template-rows: [row1] auto [row2] auto [last-line];
}

.gridnewcp {
  display: grid;
  grid-template-columns: [first] 25% [middle] auto [third] 25% [end];
  grid-template-rows: [row1] auto [last-line];
}

.gridcontainer {
  display: grid;
  grid-template-columns: [first] 40% [line2] 20% [line3] 40% [end];
  grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];
}

.navgrid {
  display: grid;
  grid-template-columns: [row1-start] auto [row1-end] auto [third-line] auto [fourth] auto [fifth] auto [end];
  grid-template-rows: 2em;
  padding: .5em;
  margin-top: .5em;
}

.cookingplangrid{
  display: grid;
  grid-template-columns: [first] 40% [line2] 20% [line3] 40% [end];
  grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];
}

#link1.griditem {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  border-radius: 1em;
  background: rgb(136, 170, 153);
}
#link2.griditem {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  border-radius: 1em;
  background: rgb(136, 170, 153);
}
#link3.griditem {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  border-radius: 1em;
  background: rgb(136, 170, 153);
}
#link4.griditem {
  grid-column: 4;
  grid-row: 1;
  text-align: center;
  border-radius: 1em;
  background: rgb(136, 170, 153);
}
#link5.griditem {
  grid-column: 5;
  grid-row: 1;
  text-align: center;
  border-radius: 1em;
  background: rgb(136, 170, 153);
}
#link1.griditem:hover {
  background-color: rgb(164, 195, 178);
}
#link2.griditem:hover {
  background-color: rgb(164, 195, 178);
}
#link3.griditem:hover {
  background-color: rgb(164, 195, 178);
}
#link4.griditem:hover {
  background-color: rgb(164, 195, 178);
}
#link5.griditem:hover {
  background-color: rgb(164, 195, 178);
}
#login.griditem {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
  background: rgb(184, 211, 200);
  border-radius: 1em;
  padding: 2em;
  margin: 1em;
}
#loginbuttons.griditem {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  padding: 2em;
}
#newcprecipes.griditem {
  grid-column: 2;
  grid-row: 1;
  text-align: middle;
  background: rgb(184, 211, 200);
  border-radius: 1em;
}
#includes.griditem {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  background: rgb(184, 211, 200);
  border-radius: 1em;
}
#shoppinglist.griditem {
  grid-column: 3;
  grid-row: 2;
  text-align: left;
  background: rgb(184, 211, 200);
  border-radius: 1em;
}
#options.griditem {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}
#recipename.griditem {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

#instructions.griditem {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}
#newestheader.griditem {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}
#likedheader.griditem {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
#newestrecipes.griditem {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  margin-left: 5em;
}
#likedrecipes.griditem {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  margin-left: 5em;
}
input#instruction {
  width: 20em;
  height: 6em;
}

input#amount{
  width: 20%;
}
input#unit{
  width: 20%;
}
#ingredients.griditem {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}
#submit.griditem {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
#submitrecipe.griditem {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}
input[type="checkbox"] {
  align-items: center;
  width: 30px;
}

fieldset{
  border: none;
}

.button {
  padding: 1em;
  border-radius: 1em;
  background: rgb(136, 170, 153);
  color: rgb(4, 5, 4);
  margin: 0.5em;
  border: none;
}
.button:hover {
  background-color: rgb(164, 195, 178);
}
.button a {
  text-decoration: none;
  color: rgb(184, 211, 200);
}

div.center {
  text-align: center;
  padding: .5em;
}

a{
  text-decoration: none;
  background: rgb(136, 170, 153);
  border-radius: 1em;
  color: rgb(4, 5, 4);
  padding: .3em;
  margin: 0.3em;
}
a:hover{
  background: rgb(164, 195, 178);
}
legend {
  width: 250px;
  padding: 6px;
  margin-left: calc(50% - 105px - 24px);
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
input.right{
  text-align: left;
  float: inline-end;
}
input#cp_name {
  margin-bottom: 2em;
}

label.loginlabel{
  display: inline-block;
  padding: .2em;
}

nav button {
  border: none;
  background: none;
  padding: .5em;
  color: rgb(4, 5, 4);
}