{% extends "layout.html" %}
{% block title %}{{ cooking_plan }}{% endblock %}
{% block content %}
<div class="cookingplangrid">
    <div class="griditem" id="recipename">
        <h3>{{ cooking_plan }}</h3>
    </div>
    <div class="griditem" id="includes">
        <div class="center">Includes Recipes:</div>
        <ul>
        {% for recipe in cp_recipes %}
        <li><a href="/recipe/{{ recipe.id }}"> {{ recipe.name }}</a>
        {% endfor %}
        </ul>
    </div>
    <div class="griditem" id="shoppinglist">
        <div class="center">Shopping list:</div>
        <form name="hide" action="/cooking_plan/{{ id }}/hide" method="POST">
        <ul>
            {% for i in cp_ingredients %}
            <li><input class="check" type="checkbox" id="{{ i.id }}" name="ingredient_id" value="{{ i.id }}">
            <label for="{{ i.id }}"> <em>{{ i.amount }} {{ i.unit }}</em> {{ i.ingredient }}</label></li>
            {% endfor %}
        </ul>
        <div class="center"><input class="button" type="submit" value="Hide Ingredients"/>
        <input class="button" type="button" onclick="location.href='/cooking_plan/{{ id }}/unhide';" value="Unhide All Ingredients"/>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

    </div>
    <div class="griditem" id="options">
        <input class="button" type="button" onclick="location.href='/cooking_plan/{{ id }}/edit';" value="Edit Cooking Plan"/>
        <input class="button" type="button" onclick="location.href='/cooking_plan/{{ id }}/delete';" value="Delete Cooking Plan"/>
        
    </div>
    

</div>
{% endblock %}