{% extends "layout.html" %}
{% block title %}Create a Cooking Plan{% endblock %}
{% block content %}
<br>
<div class="center">
<form class="createRecipe" name="cooking plan" action="/cooking_plan/{{ id }}/edit" method="POST">
    <fieldset>
        <div class="buttonHolder">
        <legend><h2>Edit Cooking Plan {{ cp_name }}</h2></legend><br>
        <label class="namelabel" for="name"><h4>Cooking Plan name:</h4></label><br>
        <input type="text" id="name" name="name" required minlength="3" maxlength="35" value="{{ cp_name }}"><br><br>
{% for recipe in recipes %}
<input class="check" type="checkbox" id="{{ recipe.id }}" name="id" value="{{ recipe.id }}" {% if (recipe.name, recipe.id) in contains %} checked {% endif %}> 
<label for="{{ recipe.id }}">{{ recipe.name }}</label>
<input class="button" type="button" onclick="location.href='/recipe/{{ recipe.id }}';" value="See recipe"/><br>
{% endfor %}
<br>
<input class="button" type="submit" value="Edit Cooking Plan">
</div>
</fieldset>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

</div>
{% endblock %}