{% extends "layout.html" %}
{% block title %}edit {{ recipe }}{% endblock %}
{% block content %}

    <form class="gridcontainer" id="new" action="/recipe/{{ id }}/edit" method="POST">
        <div class="griditem" id="recipename">
            <h4>{{ recipe }} by {{ maker }}</h4>
        </div>
        <div class="griditem" id="instructions">
        <label for="instructions">Step-by-Step Instructions:</label>
            <div id="instructionsteps">
                {% for step in instructions %}
                <div><textarea name="instructions" id="instruction" form="new" maxlength="100" rows="3" cols="34">{{ step.instruction }}</textarea></div>
                {% endfor %}
            </div>
            <input class="button" type="button" id="newStep" onclick="add_step();" value="Add a new step">
        </div>
        <div class="griditem" id="ingredients">
        <label for="ingredient">Ingredients:</label>
            <div id="container">
                {% for ing in ingredients %}
                <span><input type="text" name="ingredient" id="ingredient" placeholder="ingredient name" value="{{ ing.ingredient }}" maxlength="35">
                    <input type="number" name="amount" id="amount" placeholder="amount" value="{{ ing.amount}}" min="1" max="9999999">
                    <input type="text" name="unit" id="unit" placeholder="unit" value="{{ ing.unit }}" maxlength="15"><br></span>
                {% endfor %}
            </div>
            <input class="button" type="button" id="newIngredient" onclick="add_ingredient();" value="Add a new ingredient">
        </div>
        <div class="griditem" id="submit">
            <b>Leave a blank field to delete a step/ingredient</b><br>
            <input class="button" type="submit" value="Save changes">
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
            
{% endblock %}