
<form action="/create" method="POST">
    <p>Recipe name:<br>
    <input type="text" name="Recipe name"></p>
    <p>Instructions:<br>
    <textarea name="Instructions" rows="10" cols="50"></textarea> </p>
    <p>Ingredient #1:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount">"</p>
    <p>Ingredient #2:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>
    <p>Ingredient #3:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>
    <p>Ingredient #4:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>
    <p>Ingredient #5:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>
    <p>Ingredient #6:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>
    <p>Ingredient #7:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>
    <p>Ingredient #8:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>
    <p>Ingredient #9:<br>
    <input type="text" name="add ingredient"> amount: <input type="text" name="amount"></p>

    <input type="submit" value="Create recipe">
    </form>