{% extends "layout.html" %}
{% block title %}Create a recipe!{% endblock %}
{% block content %}

<form class="gridcontainer" id="new" name="Recipe" action="/create" method="POST">
    <div class="griditem" id="recipename">
    <label for="Recipe name">Recipe name:</label>
    <input type="text" id="name" name="Recipe name" required minlength="3" maxlength="25">
    </div>
    <div class="griditem" id="instructions">
    <Label for="instructions">Step-by-Step Instructions:</Label>
        <div id="instructionsteps">
        <div><textarea name="instructions" id="instruction" form="new" placeholder="add a step" required maxlength="100" rows="3" cols="34"></textarea></div>
        </div>
        <input class="button" type="button" id="newIngredient" onclick="add_step();" value="Add a new step"><br>
    </div>
    <div class="griditem" id="ingredients">
    <label for="ingredient">Ingredients:</label>
        <div id="container">
            <span><input type="text" name="ingredient" id="ingredient" placeholder="ingredient name" required maxlength="35"></span>
            <span><input type="text" name="amount" id="amount" placeholder="ingredient amount" required maxlength="20"><br></span>
        </div>
        <input class="button" type="button" id="newIngredient" onclick="add_ingredient();" value="Add a new ingredient"><br>
    </div>
    <div class="griditem" id="submitrecipe">
        <input class="button" type="submit" value="Create recipe">
    </div>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

    {% endblock %}
